@charset "utf-8";
/* CSS Document */

.no-bottom-margin {
    margin-bottom: 0;
}

.stripe-button-el {
  background:green !important;
}
/*--- Adjust the stripe button colours ---*/
.stripe-button-el {
  background: green !important; */
  color: red */
  padding: 10px 30px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 80%;
}

.stripe-button-el span {
  background: inherit !important;
  color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.highlight_price .stripe-button-el {
  background: #1abc9c !important;
}
.btn-login-fix {
  height: 57.6px !important;
}



.btn-login-fix {
  height: 57.6px !important;
}
